/* css */ 

/* body css */ 

body{
 background-color: red;

}
/* form css */ 

#submit {
  border-radius:8px;
  width-100%;

}

#form { 
  border-radius:8px;
  width:90%;
  height:25%;


 }

 .todoList{
  list-style: none;
  background-color: #333; 
  width:500px;
  margin:10px ;
  
}
/*list css */ 


