/* css */ 
body {

}

h1 {
	color: white;
	background-color: #4286f4;
	text-align: center;
	margin-top: 0;
	
}

.container {
	background-color: #e2e1e0;
	margin: auto;
	width: 30%;
	border: solid black 2px;

}

.input {
	width: 100%;
	text-align: center;
}


 .todoList {
 	list-style: none;
 	width: 80%;	
}


/*list css */ 
li {
  background-color: white;
  border-radius:4px; 
  width:100%;
  margin-top:2%;
  border:1px solid black;
  
}

#del {
	color: red;
	background-color: white;
	margin-right: 5%;
}

